.dashboard-box {
    .first-row {
        .column-two {
            margin: 0 0px 0 0;

            .date {
                background-color: $bgSecondary;
                border-radius: 10px;
                margin-top: 1em;
            
                .weekday {
                    color: $fgDim;
                    margin-top: .5em;
                    margin-left: 1em;
                }
            
                .monthday {
                    margin-left: -1.6em;
                    margin-bottom: 0.5em;
                    font-size: 24px;
                    font-weight: bold;
                }
            }
            .weather {
                background-color: $bgSecondary;
                border-radius: 10px;

                .weather-desc {
                    color: $fgDim;
                    margin-left: 1em;
                    margin-top: .5em;
                }
            
                .weather-temp {
                    margin-left: -3.5em;
                    margin-bottom: 0.5em;
                    font-size: 24px;
                    font-weight: bolder;
                }

            }
        }
    
        .column-one {
            margin: 0px 1.2em 0em 1px;
    
            .avatar {
                .avatar-image {
                    background-image: url("./assets/avatar.png");
                    background-size: cover;
                    background-position: center;
                    min-height: 240px;
                    border-radius: 10px;
                }
            }
        }
    }
}
