.dashboard-box {
    .second-row {
        .music-player {
            // margin-left: 1px;
            margin-top: 1em;
            min-height: 200px;

            .song-art {
                background-color: $bgSecondary;
                background-size: 50% 100%;
                background-repeat: no-repeat;
                border-radius: 10px;
        
                min-width: 550px;
                margin-right: 10px;
        
                .music-info {
                    all: unset;
                    background-color: transparent;
                    border-radius: 6px;
        
                    margin-top: 10px;
                    margin-left: -9rem;

                    .np {
                        margin-bottom: 6px;
                    }
        
                    .title {
                        font-size: 20px;
                        font-weight: bolder;
                    }
                    .artist {
                        color: $fgDim;
                    }
                    .position {
                        color: $fgDim;
                        margin-top: 3em;
                    }
                }
            }
            
            .song-controls {
                background-color: $bgSecondary;
                padding: 0em 1em;
                margin-left: 20px;
                border-radius: 5px;
        
                button {
                    font-family: "Font Awesome 6 Free";
                    font-size: 24px;
        
                    &:hover {
                        color: $accent;
                    }
                }
            }
        }
    }
}
