.quote{
	background-color: $background;
	border-radius: 12px;
	padding: 1.5rem;
	margin: .5rem;
        min-height: 405px;
        min-width: 270px;
}
.quote-text{
	font-family: "Fredoka Medium";
	padding: 2.4rem .5rem 1rem .5rem;
	font-size: 1.2em;
	color: $foreground;
}
.quote-author{
	font-family: "Fredoka Medium";
	font-style: italic;
	font-size: 1.4em;
	color: $foreground;
	margin-top: 1.7rem;
}
