$background: #171a1f;
$background-alt: #22262e;
$background-alt2: #384148;
$foreground: #a9b1d6;
$red: #e05f65;
$yellow: #f1cf8a;
$orange: #e9b180;
$green: #78dba9;
$blue: #70a5eb;
$blue2: #8cc1ff;
$magenta: #c68aee;
$cyan: #90daff;
