* {
  all: unset;
}

.box {
  background-color: #171a1f;
  border: 5px solid #0095ff;
  border-radius: 12px;
}

.random-jp-en, .random-jp-kanji {
  font-family: "Fredoka Medium";
  font-size: 32px;
  padding: 15px;
}

