$bg: #171a1f;
$bgSecondary: #22262e;
$bgSecondaryAlt: #384148;
$fg: #dee1e6;
$fgDim: #a9b1d6;
$watermelon: #ff4757;

// Aliases
$background: $bg;
$backgroundSecondary: $bgSecondary;
$backgroundSecondaryAlt: $bgSecondaryAlt;
$foreground: $fg;
$foregroundDim: $fgDim;

$red: #e05f65;
$blue: #74bee9;
$blue-desaturated: #90daff;
$magenta: #c68aee;
$green: #78dba9;
$yellow: #e9a180;
$accent: $blue; 
$javacafeMagenta: #e2a6ff;
$javacafeBlue: #70a5eb;
$javacafeCyan: #90daff;
