$bg: #171a1f;
$bgSecondary: #22262e;
$bgSecondaryAlt: #171a1f;
$fg: #f5f5f5;
$fgDim: #9fa0a0;
$watermelon: #ff4757;

// Aliases
$background: $bg;
$backgroundSecondary: $bgSecondary;
$backgroundSecondaryAlt: $bgSecondaryAlt;
$foreground: $fg;
$foregroundDim: $fgDim;

$red: #e05f65;
$blue: #74bee9;
$blue-desaturated: #00d8eb;
$magenta: #c68aee;
$green: #8ce10b;
$yellow: #ffb900;
$accent: $blue;
$javacafeMagenta: #d7c1ed;
$javacafeBlue: #bac8ef;
$javacafeCyan: #c7e5d6;
