.profile{
	background-color: $background;
	border-radius: 12px;
	margin: .5rem .5rem .5rem .5rem;
	padding: 3.1rem;
        min-height: 605px;
        min-width: 270px;
}
.pfp {
	background-image: url("assets/profile.png");
	background-size: cover;
	background-position: center;
	min-height: 300px;
	min-width: 300px;
	border-radius: 12px;
        margin: 2.5rem 0 0 1.5rem;
  }
  .pfptxt {
	margin-top: 30px;
	color: $foreground;
	font-family: "Fredoka Medium";
	font-style: italic;
	font-weight: bold;
	font-size: 36px;
  }
  .subpfptxt {
	color: $foreground;
	font-family: "Fredoka Medium";
	margin-top: 10px;
	font-size: 32px;
  }
