$bg: #dee1e6;
$contrastbg: #e4e7ec;
$bgSecondary: #e8ebf0;
$bgSecondaryAlt: #f1f4f9;
$fg: #22262e;
$fgDim: #1c252c;
$watermelon: #e05f65;

// Aliases
$background: $bg;
$backgroundSecondary: $bgSecondary;
$backgroundSecondaryAlt: $bgSecondaryAlt;
$foreground: $fg;
$foregroundDim: $fgDim;

$black: #384148;
$red: #d6555b;
$blue: #669be1;
$cyan: #74bee9;
$blue-desaturated: #90daff;
$magenta: #bc80e4;
$green: #7dc086;
$yellow: #f1cf8a;
$accent: #70a5eb;
$javacafeMagenta: #c68aee;
$javacafeBlue: #5f94da;
