$bg: #0b0d10;
$contrastbg: #101215;
$bgSecondary: #1a1c1f;
$bgSecondaryAlt: #d2daf4;
$fg: #d2daf4;
$fgDim: #a0a8c2;
$watermelon: #df5b61;

// Aliases
$background: $bg;
$backgroundSecondary: $bgSecondary;
$backgroundSecondaryAlt: $bgSecondaryAlt;
$foreground: $fg;
$foregroundDim: $fgDim;

$black: #3c474d;
$red: #df5b61;
$blue: #6791c9;
$cyan: #70b9cc;
$blue-desaturated: #70b9cc;
$magenta: #bc83e3;
$green: #87c7a1;
$yellow: #de8f78;
$accent: #6791c9;
$javacafeMagenta: #bc83e3;
$javacafeBlue: #5d87bf;
